/* class="nav-mobile-wraper" data-open="false" */
.nav-mobile-wraper[data-open=false] {
    display: none;
}

/* class="nav-li dropdown" data-open="false" */
.C-dropdown-btn[aria-expanded=false] .arrow-up,
.C-dropdown-btn[aria-expanded=false] + .dropdown-list {
    display: none;
}

.C-dropdown-btn[aria-expanded=true] .arrow-down {
    display: none;
}

@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    .nav-mobile-wraper[data-open=false] {
        display: block;
    }
}