/* class="nav-mobile-wraper" data-open="false" */
/* .mobile-nav-open[aria-expanded=false] + .mobile-nav-opn-bg-overlay,
.mobile-nav-open[aria-expanded=false] + .mobile-nav-opn-bg-overlay + .navigation {
    display: none;
} */




.mobile-nav-open[aria-expanded=false] + .mobile-nav-opn-bg-overlay,
.mobile-nav-open[aria-expanded=false] + .mobile-nav-opn-bg-overlay + .navigation {
    display: none;
}




/* class="nav-li dropdown" data-open="false" */
.C-dropdown-btn[aria-expanded=false] .arrow-up,
.C-dropdown-btn[aria-expanded=false] + .dropdown-list {
    display: none;
}

.C-dropdown-btn[aria-expanded=true] .arrow-down {
    display: none;
}

@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    .mobile-nav-open[aria-expanded=false] + .mobile-nav-opn-bg-overlay + .navigation {
        display: block;
    }
}