.imgblock { display: block; width: 100%; }
.btnstrip { background-color: transparent; margin: 0; padding: 0; border: none;}

/* header and navigation */
.nav-bar-section {
    padding-block: 25px;
}

.navigation {
    box-sizing: border-box;
    background-color: var(--clr-neutral-100);
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    padding: 25px;
}

.mobile-nav-opn-bg-overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-neutral-300);
    opacity: 0.5;
    pointer-events: none;
}

.mobile-nav-close {
    display: block;
    margin-left: auto;
}

.ul-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-primary .nav-link, 
.navigation-primary .C-dropdown-btn {
    display: inline-block;
    color: var(--clr-neutral-200);
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding-block: 10px;
    font-weight: var(--f-weight-medium);
    font-size: 16px;
}


.dropdown-list {
    list-style: none;
    padding-left: 26px;
}

.dropdown-li .dropdown-link {
    text-decoration: none;
    color: var(--clr-neutral-200);
    font-weight: var(--f-weight-medium);
}

.dropdown-link {
    display: flex;
    align-items: center;
    margin-block: 10px;
}

.dropdown-icon {
    width: 15px;
}

.dropdown-link .dropdown-icon {
    margin-right: 13px;
}


.navigation-secondary {
    margin-top: 20px;
    text-align: center;
}
.navigation-secondary .nav-link {
    display: block;
    padding-block: 13px;
    color: var(--clr-neutral-200);
    text-decoration: none;
    font-weight: var(--f-weight-medium);
    font-size: 16px;
}

.navigation-secondary .nav-link.register {
    border: 2px solid var(--clr-neutral-200);
    border-radius: 10px;
    margin-top: 7px;
}


/* main */
.banner-picture, .banner-picture > img {
    display: block;
    width: 100%;
}

.text-icon-section {
    text-align: center;
    margin-top: 48px;
}

.hero-title {
    color: var(--clr-neutral-300);
    font-size: 38px;
}

.hero-para {
    font-size: var(--f-size-para);
    font-weight: var(--f-weight-medium);
    color: var(--clr-neutral-200);
    line-height: 1.4;
    width: 90%;

    margin-inline: auto;
    margin-block: 25px;
}

.more-link {
    text-decoration: none;
    display: inline-block;
    background-color: var(--clr-neutral-300);
    color: var(--clr-neutral-100);
    padding: 16px 25px;
    border-radius: 17px;
    font-weight: var(--f-weight-bold);
}

.icon-section {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

.icon-img {
    width: 74%;
    /* aspect-ratio: 3/2;
    object-fit: contain; */
}

@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    /* header and navigation */
    .navigation {
        position: static;
        width: 100%;
        height: min-content;
        padding: 0;
    }

    .mobile-nav-opn-bg-overlay,
    .mobile-nav-open, 
    .mobile-nav-close {
        display: none;
    }

    .ul-nav { margin: 0; }
    .navigation-primary .nav-link, 
    .navigation-primary .C-dropdown-btn,
    .navigation-secondary .nav-link,
    .navigation-secondary .nav-link.register,
    .nav-link {
        box-sizing: border-box;
        margin: 0;
        padding-block: 10px;
        padding-inline: 15px;
        /* width: 10px; */
        text-align: center;
    }

    .dropdown {
        position: relative;
    }
    .dropdown-list {
        background-color: var(--clr-neutral-100);
        padding: 14px 20px;
        border-radius: 10px;
        box-shadow: 1px -1px 16px -7px var(--clr-neutral-200);
        position: absolute;
    }

    .dropdown-list.prim {
        right: 16px;
        top: 55px;
    }
    .dropdown-list.secnd {
        right: -10px;
        top: 55px;
    }


    /* main and hero */
    .hero-section {
        margin-top:50px;
    }

    .banner-section { width: 40%; }
    .text-icon-section, .icon-section { margin: 0; }
    .text-icon-section {
        width: 49%;
        text-align: left;
    }

    .hero-title {
        font-size: 80px;
        font-weight: var(--f-weight-bold);
    }
    .hero-title span { display: block;}
    .hero-para {
        margin-inline: 0;
        margin-block: 45px;
        
        width: 484px;
    }

    .more-link {
        font-size: var(--f-size-para);
        padding: 18px 35px;
    }
    .icon-section {
        margin-top: 70px;
    }

    .icon-img {
        width: 90%;
    }
}